@import "fonts";
@import "normalize";

$ff-title: 'Banny', sans-serif;
$ff-text: 'Open Sans', sans-serif;
$fs-base: 18px;
$color-primary: #000;
$color-secondary: #fff;
$color-tertiary: #333;
$bg-color-el-primary: #E8C300;
$bg-color-el-secondary: #E5E5E5;
$bg-color-inverse: #242424;

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin flexbox-common($display, $justify-c, $align-i) {
  display: $display;
  justify-content: $justify-c;
  align-items: $align-i;
}

@mixin position($pos, $top, $right, $bottom, $left) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin font($f-family, $f-size, $line-height, $f-weight) {
  font-family: $f-family;
  font-weight: $f-weight;
  font-size: $f-size;
  line-height: $line-height;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, button, input, textarea {
  outline: none;
}

body {
  font-family: $ff-text;
  font-size: $fs-base;
  color: $color-primary;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.block-lines {
  @include position(absolute, 0, null, null, 50%);
  @include size(66%, 100%);
  @include flexbox-common(flex, center, null);
  transform: translateX(-50%);
  border-left: 1px solid transparentize($color-secondary, .8);
  border-right: 1px solid transparentize($color-secondary, .8);

  &::before {
    content: '';
    @include size(1px, null);
    background-color: transparentize($color-secondary, .8);
  }
}

.btn {
  display: inline-block;
  @include size(null, 60px);
  @include flexbox-common(inline-flex, center, center);
  padding: 0 1em;
  @include font(inherit, 12px, 20px, bold);
  text-decoration: none;
  text-transform: uppercase;
  color: $color-secondary;
  border-radius: 5px;
  transition: .3s;

  &-transparent {
    border: 1px solid transparentize($color-secondary, .5);

    &:hover, &:focus {
      color: $bg-color-el-primary;
      border-color: transparentize($bg-color-el-primary, .8);
      box-shadow: 0 0 10px 1px $bg-color-el-primary inset;
    }
  }

  &-fill {
    background-color: $bg-color-el-primary;
    border-color: $bg-color-el-primary;

    &:hover, &:focus {
      box-shadow: 0 0 10px 1px $bg-color-el-primary;
    }
  }
}

.work-time {
  @include font(null, 12px, 12px, bold);
}

.title-mini {
  @include font(null, 12px, 14px, bold);
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
}

.title-main {
  @include font($ff-title, 96px, null, null);
  text-transform: uppercase;
  text-align: center;
}

.title {
  @include font($ff-title, 36px, 48px, null);
  text-transform: uppercase;
  text-align: center;
}

.description {
  @include font(null, 18px, 28px, bold);
  text-align: center;
}

.text {
  @include font(null, 14px, 24px, null);
  text-align: center;
}

.col-bg {
  @include position(relative, null, null, null, null);
  @include flexbox-common(flex, null, null);

  &::before {
    content: '';
    @include position(absolute, 50%, 0, null, null);
    @include size(41.668%, 52.632%);
    transform: translateY(-50%);
    border: 20px solid $bg-color-el-primary;
    border-radius: 5px;
    box-shadow: 0 0 100px transparentize($color-primary, .5);
    box-sizing: border-box;
    z-index: 1;
  }

  &--right {
    justify-content: flex-end;
  }

  &__img {
    flex-basis: 79.168%;
    padding-top: 79.169%;
    background: no-repeat center center / contain;
    border-radius: 5px;
    box-shadow: 0 0 50px transparentize($color-primary, .5);
  }
}

.separator-line {
  width: 60px;
  height: 5px;
  margin: 0 auto;
  border-radius: 50px;
  background-color: $bg-color-el-primary;
}

.social-link {
  @include size(60px, 60px);
  @include flexbox-common(flex, center, center);
  border: 1px solid transparentize($color-secondary, .8);
  border-radius: 50%;
  transition: .3s;

  &:hover, &:focus {
    border-color: transparentize($bg-color-el-primary, .8);
    box-shadow: 0 0 10px 1px $bg-color-el-primary inset;
  }

  &:hover .social-link__icon,
  &:focus .social-link__icon{
    fill: $bg-color-el-primary;
  }

  &__icon {
    fill: $color-secondary;
    transition: inherit;

    &-facebook {
      @include size(12px, 21px);
    }

    &-twitter {
      @include size(20px, 18px);
    }

    &-instagram {
      @include size(18px, 18px);
    }
  }
}

.down-link-wrap {
  @include size(60px, 60px);
  @include flexbox-common(flex, center, center);
  border: 1px solid transparentize($color-secondary, .8);
  border-radius: 50%;
  animation: border-color-changing 10s linear 3s infinite;

  .down-link {
    @include position(relative, null, null, null, null);
    @include size(40px, 40px);
    background-color: $color-secondary;
    border-radius: inherit;

    &__icon {
      @include position(absolute, 14px, null, null, 50%);
      @include size(14px, 9px);
      transform: translateX(-50%);
      fill: $color-tertiary;
      transition: .3s;
    }

    &:hover .down-link__icon,
    &:focus .down-link__icon {
      fill: $bg-color-el-primary;
    }
  }

  @keyframes border-color-changing {
    from {
      border-color: transparentize($color-secondary, .8);
      box-shadow: 0 0 10px 1px transparent inset;
    }
    15% {
      border-color: transparentize($bg-color-el-primary, .8);
      box-shadow: 0 0 10px 1px $bg-color-el-primary inset;
    }
    30% {
      border-color: transparentize($color-secondary, .8);
      box-shadow: 0 0 10px 1px transparent inset;
    }
    to {
      border-color: transparentize($color-secondary, .8);
      box-shadow: 0 0 10px 1px transparent inset;
    }
  }
}

.hamburger-toggle {
  @include size(30px, 25px);
  @include flexbox-common(null, space-between, center);
  display: none;
  flex-direction: column;
  cursor: pointer;

  &__el {
    @include size(100%, 3px);
    background-color: $color-secondary;
    transition: .3s;

    &:first-child {
      @include position(relative, 0, null, null, 0);
    }

    &:last-child {
      @include position(relative, 0, null, null, 0);
    }
  }

  &--active .hamburger-toggle__el {
    transition: top .15s, transform .15s .15s, opacity .3s;
  }

  &--active .hamburger-toggle__el:first-child {
    @include position(null, 11px, null, null, null);
    transform: rotate(45deg);
  }

  &--active .hamburger-toggle__el:nth-child(2) {
    opacity: 0;
  }

  &--active .hamburger-toggle__el:last-child {
    @include position(null, -11px, null, null, null);
    transform: rotate(-45deg);
  }
}

.mobile-menu-wrap {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.header {
  height: 100vh;
  background: no-repeat center center / cover url("../images/header-bg.png") #242424;
  color: $color-secondary;

  &__container {
    @include size(null, 100%);
    overflow: hidden;
  }

  &__top {
    @include position(relative, null, null, null, null);
    z-index: 2;
  }

  &__bottom {
    @include position(relative, null, null, null, null);
    @include size(null, calc(100% - 101px));
    @include flexbox-common(flex, null, center);

    &-block-lines::before {
      display: none;
    }

    &-content {
      @include position(relative, null, null, null, null);
      @include flexbox-common(flex, space-between, center);
      flex-basis: 100%;
      z-index: 1;
    }

    &-socials-item:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__promo {
    @include position(absolute, 3%, null, null, 50%);
    @include size(88%, 100%);
    transform: translateX(-50%);

    &-separator-line {
      margin-bottom: 31px;
    }

    &-links {
      max-width: 440px;
      @include flexbox-common(flex, space-between, null);
      margin: 0 auto;
    }
  }

  &__title-mini {
    margin-bottom: 6px;
  }

  &__title-main {
    margin-bottom: 20px;
  }

  &__btn-book-table,
  &__btn-explore {
    flex-basis: 200px;
    max-width: 200px;
  }

  &__logo-wrap {
    @include position(absolute, 3%, null, null, 50%);
    transform: translateX(-50%);
    padding: 24px 35px 18px 35px;

    &::before, &::after {
      content: '';
      @include size(1000%, 1px);
      transform: translateY(-50%);
      background-color: transparentize($color-secondary, .8);
    }

    &::before {
      @include position(absolute, 50%, 0, 0, 100%);
    }

    &::after {
      @include position(absolute, 50%, 100%, null, null);
    }

    .logo-link:focus {
      outline: 1px solid $bg-color-el-primary;
    }
  }

  .menu {
    display: flex;
    @include size(null, 100px);

    &__item {
      flex-basis: 133px;

      &:nth-child(4) {
        margin-right: 110px;
      }

      &:nth-child(5) {
        margin-left: 110px;
      }
    }

    &-link {
      @include size(100%, 100%);
      @include flexbox-common(flex, center, center);
      @include font(null, 12px, 18px, bold);
      text-transform: uppercase;
      text-decoration: none;
      color: $color-secondary;
      transition: .3s;

      &:hover, &:focus {
        background-color: $bg-color-el-primary;
      }
    }
  }

  &__work-time {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  &__down-link-wrap {
    @include position(absolute, null, null, 12%, 50%);
    transform: translateX(-50%);

    &::before, &::after {
      content: '';
      transform: translateX(-50%);
      background-color: transparentize($color-secondary, .8);
    }

    &::before {
      @include position(absolute, 100%, 0, 0, 50%);
      @include size(1px, 12vh);
    }

    &::after {
      @include position(absolute, null, null, 100%, 50%);
      @include size(1px, calc(88vh - 255px));
    }
  }

  @media screen and (max-width: 1023px) {
    &__work-time,
    &__bottom-socials {
      display: none;
    }

    &__top {
      @include position(fixed, 0, null, null, 0);
      @include size(100%, 100px);
      @include flexbox-common(flex, space-around, center);
      padding: 0 3%;
      background-color: transparentize($color-tertiary, .5);

      &-nav-mobile {
        margin-bottom: 40px;
      }
    }

    &__logo-wrap {
      @include position(static, null, null, null, null);
      transform: translateX(0);
      padding: 0;
      z-index: -1;

      &::before, &::after {
        display: none;
      }

      .logo-link__img {
        @include size(80px, 80px);
      }
    }

    &__bottom {
      margin-top: 100px;
    }

    &__promo {
      @include position(static, null, null, null, null);
      @include size(100%, null);
      transform: translateX(0);
    }

    &__down-link-wrap {
      bottom: 50px;

      &::before {
        @include position(absolute, 100%, 0, 0, 50%);
        @include size(1px, 50px);
      }

      &::after {
        @include size(null, calc(100vh - 209px));
      }
    }

    .mobile-menu-wrap {
      display: block;
      @include position(absolute, 0, null, null, 0);
      @include size(100%, 100vh);
      padding: 100px 0 20px 0;
      background-color: transparentize($color-tertiary, .1);
      opacity: 0;
      overflow-y: scroll;
      visibility: hidden;
      transition: .3s;

      &--active {
        opacity: 1;
        visibility: visible;
      }

      &--active .mobile-menu-wrap__content {
        transform: translateY(0) scaleY(1);
        opacity: 1;
      }

      &__content {
        width: inherit;
        @include flexbox-common(flex, null, center);
        flex-direction: column;
        transform: translateY(-30%) scaleY(0);
        transform-origin: top;
        opacity: 0;
        transition: .7s;
      }

      .nav-mobile {
        @include size(50%, null);
      }

      .menu-mobile__item:not(:last-child) {
        margin-bottom: 15px;
      }

      .menu-mobile-link {
        @include font(null, 20px, 24px, bold);
        @include flexbox-common(flex, center, center);
        padding: 5px 0 8px 0;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-secondary;
        border-bottom: 1px solid transparentize($bg-color-el-primary, .5);
        transition: .3s;

        &:focus {
          color: $bg-color-el-primary;
          border-color: $bg-color-el-primary;
        }
      }

      &__work-time {
        @include font(null, 16px, 20px, null);
        margin-bottom: 35px;
      }

      &__socials {
        @include flexbox-common(flex, space-between, center);
        @include size(30%, null);
      }
    }

    .nav {
      display: none;
    }
  }

  @media screen and (max-width: 850px) {
    &__top {
      @include size(null, 70px);
    }

    &__logo-wrap {
      .logo-link__img {
        @include size(50px, 50px);
      }
    }

    &__bottom {
      @include size(null, calc(100% - 70px));
      margin-top: 70px;
    }

    &__promo-links {
      max-width: 340px;
    }

    &__down-link-wrap {
      &::after {
        @include size(null, calc(100vh - 179px));
      }
    }

    &__btn-book-table,
    &__btn-explore {
      flex-basis: 150px;
      max-width: 150px;
    }

    .mobile-menu-wrap {
      padding-top: 70px;
    }
  }

  @media screen and (max-width: 660px) {
    &__down-link-wrap {
      &::after {
        @include size(null, calc(100vh - 169px));
      }
    }
  }

  @media screen and (max-width: 540px) {
    &__promo-links {
      max-width: 260px;
    }

    &__btn-book-table,
    &__btn-explore {
      flex-basis: 120px;
      max-width: 120px;
    }

    .mobile-menu-wrap {

      .nav-mobile {
        @include size(80%, null);
      }

      &__socials {
        @include size(50%, null);
      }
    }
  }

  @media screen and (max-width: 380px) {
    &__top {
      @include flexbox-common(null, space-between, null);
    }

    .mobile-menu-wrap {

      &__work-time {
        @include font(null, 12px, null, null);
        margin-bottom: 30px;
      }

      &__socials {
        @include size(60%, null);
      }
    }
  }
}

.about-us {
  padding: 100px 0;

  &__container {
    @include flexbox-common(flex, center, center);
  }

  &__col {
    flex-basis: 600px;

    &:last-child {
      margin-left: 80px;
    }

    &-bg-img {
      background-image: url("../images/about-img.png");
    }
  }

  &__title {
    margin-bottom: 12px;
  }

  &__separator-line {
    margin-bottom: 16px;
  }

  &__description {
    margin-bottom: 15px;
  }

  @media screen and (max-width: 850px) {
    padding: 50px 0;
  }

  @media screen and (max-width: 660px) {
    &__container {
      flex-wrap: wrap;
    }

    &__col {
      flex-basis: 100%;

      &:first-child{
        margin-bottom: 30px;
      }

      &:last-child {
        flex-basis: 70%;
        margin-left: 14%;
      }
    }

    &__title {
      margin-bottom: 9px;
    }

    &__separator-line {
      margin-bottom: 12px;
    }

    &__description {
      margin-bottom: 11px;
    }
  }

  @media screen and (max-width: 540px) {
    padding: 25px 0;
  }

  @media screen and (max-width: 380px) {
    &__col {
      &:last-child {
        flex-basis: 80%;
        margin-left: 12%;
      }
    }
  }
}

@media screen and (max-width: 1365px) {
  .container {
    max-width: 94%;
  }
}

@media screen and (max-width: 1023px) {
  .hamburger-toggle {
    @include flexbox-common(flex, null, null);
  }
}

@media screen and (max-width: 850px) {
  .title-main {
    font-size: 75px;
  }

  .btn {
    height: 50px;
  }

  .col-bg {

    &::before {
      border-width: 10px;
    }
  }

  .title {
    @include font(null, 28px, 40px, null);
  }

  .description {
    @include font(null, 16px, 26px, null);
  }
}

@media screen and (max-width: 660px) {
  .title-main {
    font-size: 60px;
  }

  .down-link-wrap {
    @include size(50px, 50px);

    .down-link {
      @include size(30px, 30px);

      &__icon {
        top: 10px;
      }
    }
  }

  .social-link {
    @include size(50px, 50px);
  }

  .title {
    @include font(null, 24px, 36px, null);
  }

  .description {
    @include font(null, 15px, 25px, null);
  }
}

@media screen and (max-width: 540px) {
  .title-main {
    font-size: 42px;
  }

  .title-mini {
    font-size: 10px;
  }

  .btn {
    height: 33px;
  }
}

@media screen and (max-width: 380px) {
  .title-main {
    font-size: 37px;
  }
}